.jumbotron {
  margin-top: 1em;
  margin-bottom: 1em;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


body > .container {
 /* padding: 60px 15px 0;*/
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

footer {
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
  text-align: center;

}

.unanswered > a {
  color: red !important;
}