{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block jumbotron %}
  <h1>{{ _('Estudo experimental') }}</h1>
  <p>{{ _('Os estudos experimentais procuram avaliar uma determinada abordagem. Existem diversas formas de representar visualmente scripts para melhorar o entendimento sobre eles. Neste experimento, queremos avaliar algumas dessas representações para entender se elas de fato podem ser usadas de forma eficiente para melhorar o entendimento. Esse estudo é conduzido por alunos de Pós-graduação em Computação da Universidade Federal Fluminense (IC-UFF).Espera-se que, como resultado deste estudo, você possa aumentar seus conhecimentos, de maneira a contribuir para o aumento da qualidade das atividades com as quais você trabalhe ou possa vir a trabalhar. Este estudo também contribuirá com resultados importantes para a pesquisa de um modo geral. Você não terá nenhum gasto ou ônus com a sua participação no estudo. Sua contribuição é muito importante para esse estudo. Caso queira participar, por favor, preencha o formulário a seguir: ') }}</p>
  {% autoescape false %}
  {% endautoescape %}

  {{wtf.quick_form(form)}}
  {{super()}}
{%- endblock %}
