{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block jumbotron %}
  <h3>{{ title }}</h3>
  {{wtf.quick_form(form)}}

  {{super()}}
{%- endblock %}

{% block scripts %}
<script>

function toggle_checkbox(element) {
  var text_id = element.id.substring(0, element.id.length - 2);
  var text_group = document.getElementById(text_id).parentNode;
  if (element.checked) {
    text_group.style.display = 'block';
  } else {
    text_group.style.display = 'none';
  }
}

var elements = document.querySelectorAll("input[type=checkbox][id$='_e']");
for (var i = 0; i < elements.length; i++) {
  var element = elements[i];
  toggle_checkbox(element);
  element.addEventListener('change', function(){toggle_checkbox(this)}, false);
}
</script>
{{super()}}
{% endblock %}
